@using Markata.Data
@model Markata.Models.OrderForCreation
@{
    ViewData["Title"] = "New Order";
}

<div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">

      <label>Name: </label> <br />
      <input class="form-control" asp-for="Name" type="text" /> <br />
      <div class="col-6">
          <label>Order: </label>
          <select class="form-control" asp-for="ProductPrice"><br>
              @foreach (var g in Model.Products)
              {
                  <option value="@g.Id">@g.Name</option>
              }
          </select>
          <label>Quantity: </label>
          <input class="form-control" asp-for="Quantity" type="number" min="1"><br />
              <label>Cost:  </label>
              <input class="form-control" asp-for="Cost" type="double" min="0"><br />
 
      </div>

        <button class="btn btn-primary">Submit</button>
    </div>
    <div class="col-3">
    </div>
</div>
